{% comment %}
/snippets/bv-review-highlights.liquid
Bazaarvoice Review Highlights Container
{% endcomment %}

<div data-bv-show="review_highlights" 
     data-bv-product-id="{{product.id}}">
</div>

{% comment %}
End Bazaarvoice Review Highlights Container
Bazaarvoice Shopify Integration Version 2.4
{% endcomment %}